{
    "openapi": "3.0.4",
    "info": {
        "title": "Microsoft OneNote API",
        "description": "Microsoft OneNote API. Subset of the Microsoft Graph v1.0 OpenAPI specification covering notebooks, section groups, sections, pages, page content, resources and long-running copy operations for the signed-in user and for users by ID.",
        "version": "v1.0",
        "x-ms-generated-by": {
            "toolName": "Microsoft.OpenApi.OData",
            "toolVersion": "0.0.0.0"
        }
    },
    "servers": [
        {
            "url": "https://graph.microsoft.com/v1.0"
        }
    ],
    "security": [
        {
            "oAuth2": [
                "Notes.Create",
                "Notes.Read",
                "Notes.ReadWrite",
                "Notes.Read.All",
                "Notes.ReadWrite.All",
                "offline_access"
            ]
        }
    ],
    "tags": [
        {
            "name": "me.onenote",
            "x-ms-docs-toc-type": "page"
        },
        {
            "name": "users.onenote",
            "x-ms-docs-toc-type": "page"
        }
    ],
    "paths": {
        "/me/onenote": {
            "description": "Provides operations to manage the onenote property of the microsoft.graph.user entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get onenote from me",
                "operationId": "getOnenote",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The OneNote root resource of the user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Onenote"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Delete me onenote",
                "operationId": "deleteOnenote",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Update me onenote",
                "operationId": "updateOnenote",
                "requestBody": {
                    "description": "Properties to update on the OneNote root resource of the user",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Onenote"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The OneNote root resource of the user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Onenote"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            }
        },
        "/me/onenote/notebooks": {
            "description": "Provides operations to manage the notebooks property of the microsoft.graph.onenote entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "List notebooks",
                "description": "Retrieve a list of notebook objects.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/onenote-list-notebooks?view=graph-rest-1.0"
                },
                "operationId": "listNotebooks",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.notebookCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Create notebook",
                "description": "Create a new OneNote notebook.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/onenote-post-notebooks?view=graph-rest-1.0"
                },
                "operationId": "createNotebook",
                "requestBody": {
                    "description": "The OneNote notebook to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Notebook"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created OneNote notebook",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Notebook"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            }
        },
        "/me/onenote/notebooks/{notebookId}": {
            "description": "Provides operations to manage the notebooks property of the microsoft.graph.onenote entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get notebook",
                "description": "Retrieve the properties and relationships of a notebook object.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/notebook-get?view=graph-rest-1.0"
                },
                "operationId": "getNotebook",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The OneNote notebook",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Notebook"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Delete me onenote notebooks",
                "operationId": "deleteNotebook",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Update me onenote notebooks",
                "operationId": "updateNotebook",
                "requestBody": {
                    "description": "Properties to update on the OneNote notebook",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Notebook"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The OneNote notebook",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Notebook"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                }
            ]
        },
        "/me/onenote/notebooks/{notebookId}/copyNotebook": {
            "description": "Provides operations to call the copyNotebook method.",
            "post": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Invoke action copyNotebook",
                "description": "For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/notebook-copynotebook?view=graph-rest-1.0"
                },
                "operationId": "copyNotebook",
                "requestBody": {
                    "description": "Action parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CopyNotebookRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The status of the long-running OneNote operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnenoteOperation"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                }
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups": {
            "description": "Provides operations to manage the sectionGroups property of the microsoft.graph.notebook entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "List sectionGroups",
                "description": "Retrieve a list of section groups from the specified notebook.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/notebook-list-sectiongroups?view=graph-rest-1.0"
                },
                "operationId": "listNotebookSectionGroups",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.sectionGroupCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Create sectionGroup",
                "description": "Create a new section group in the specified notebook.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/notebook-post-sectiongroups?view=graph-rest-1.0"
                },
                "operationId": "createNotebookSectionGroup",
                "requestBody": {
                    "description": "The OneNote section group to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SectionGroup"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created OneNote section group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SectionGroup"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                }
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}": {
            "description": "Provides operations to manage the sectionGroups property of the microsoft.graph.notebook entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get sectionGroups from me",
                "description": "The section groups in the notebook. Read-only. Nullable.",
                "operationId": "getNotebookSectionGroup",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The OneNote section group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SectionGroup"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Delete me onenote notebooks section groups",
                "operationId": "deleteNotebookSectionGroup",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Update me onenote notebooks section groups",
                "operationId": "updateNotebookSectionGroup",
                "requestBody": {
                    "description": "Properties to update on the OneNote section group",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SectionGroup"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The OneNote section group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SectionGroup"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                }
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/parentNotebook": {
            "description": "Provides operations to manage the parentNotebook property of the microsoft.graph.sectionGroup entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get parentNotebook from me",
                "description": "The notebook that contains the section group. Read-only.",
                "operationId": "getNbGroupParentNotebook",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The OneNote notebook",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Notebook"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/onenote/sectionGroups/{sectionGroup-id}/parentNotebook"
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/parentSectionGroup": {
            "description": "Provides operations to manage the parentSectionGroup property of the microsoft.graph.sectionGroup entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get parentSectionGroup from me",
                "description": "The section group that contains the section group. Read-only.",
                "operationId": "getNbGroupParentGroup",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The OneNote section group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SectionGroup"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/onenote/sectionGroups/{sectionGroup-id}/parentSectionGroup"
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sectionGroups": {
            "description": "Provides operations to manage the sectionGroups property of the microsoft.graph.sectionGroup entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get sectionGroups from me",
                "description": "The section groups in the section. Read-only. Nullable.",
                "operationId": "listNbGroupSectionGroups",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.sectionGroupCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/onenote/sectionGroups/{sectionGroup-id}/sectionGroups"
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sectionGroups/{sectionGroupId1}": {
            "description": "Provides operations to manage the sectionGroups property of the microsoft.graph.sectionGroup entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get sectionGroups from me",
                "description": "The section groups in the section. Read-only. Nullable.",
                "operationId": "getNbGroupSectionGroup",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The OneNote section group",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SectionGroup"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                },
                {
                    "name": "sectionGroupId1",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/onenote/sectionGroups/{sectionGroup-id}/sectionGroups/{sectionGroup-id1}"
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sectionGroups/$count": {
            "description": "Provides operations to count the resources in the collection.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get the number of the resource",
                "operationId": "countNbGroupSectionGroups",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/ODataCountResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                }
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sections": {
            "description": "Provides operations to manage the sections property of the microsoft.graph.sectionGroup entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get sections from me",
                "description": "The sections in the section group. Read-only. Nullable.",
                "operationId": "listNbGroupSections",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.onenoteSectionCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Create onenote notebooks section groups sections",
                "operationId": "createNbGroupSection",
                "requestBody": {
                    "description": "The OneNote section to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OnenoteSection"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created OneNote section",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnenoteSection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/onenote/sectionGroups/{sectionGroup-id}/sections"
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sections/{onenoteSectionId}": {
            "description": "Provides operations to manage the sections property of the microsoft.graph.sectionGroup entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get sections from me",
                "description": "The sections in the section group. Read-only. Nullable.",
                "operationId": "getNbGroupSection",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The OneNote section",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnenoteSection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Delete onenote notebooks section groups sections",
                "operationId": "deleteNbGroupSection",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Update onenote notebooks section groups sections",
                "operationId": "updateNbGroupSection",
                "requestBody": {
                    "description": "Properties to update on the OneNote section",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OnenoteSection"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The OneNote section",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnenoteSection"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                },
                {
                    "name": "onenoteSectionId",
                    "in": "path",
                    "description": "The unique identifier of onenoteSection",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenoteSection"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}"
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sections/{onenoteSectionId}/copyToNotebook": {
            "description": "Provides operations to call the copyToNotebook method.",
            "post": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Invoke action copyToNotebook",
                "description": "For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/section-copytonotebook?view=graph-rest-1.0"
                },
                "operationId": "copyNbGroupSectionToNotebook",
                "requestBody": {
                    "description": "Action parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CopySectionToNotebookRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The status of the long-running OneNote operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnenoteOperation"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                },
                {
                    "name": "onenoteSectionId",
                    "in": "path",
                    "description": "The unique identifier of onenoteSection",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenoteSection"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/copyToNotebook",
                "/me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/copyToNotebook",
                "/me/onenote/sections/{onenoteSection-id}/copyToNotebook"
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sections/{onenoteSectionId}/copyToSectionGroup": {
            "description": "Provides operations to call the copyToSectionGroup method.",
            "post": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Invoke action copyToSectionGroup",
                "description": "For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/section-copytosectiongroup?view=graph-rest-1.0"
                },
                "operationId": "copyNbGroupSectionToSectionGroup",
                "requestBody": {
                    "description": "Action parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CopySectionToNotebookRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The status of the long-running OneNote operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnenoteOperation"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                },
                {
                    "name": "onenoteSectionId",
                    "in": "path",
                    "description": "The unique identifier of onenoteSection",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenoteSection"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/copyToSectionGroup",
                "/me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/copyToSectionGroup",
                "/me/onenote/sections/{onenoteSection-id}/copyToSectionGroup"
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sections/{onenoteSectionId}/pages": {
            "description": "Provides operations to manage the pages property of the microsoft.graph.onenoteSection entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get pages from me",
                "description": "The collection of pages in the section.  Read-only. Nullable.",
                "operationId": "listNbGroupSectionPages",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/top"
                    },
                    {
                        "$ref": "#/components/parameters/skip"
                    },
                    {
                        "$ref": "#/components/parameters/search"
                    },
                    {
                        "$ref": "#/components/parameters/filter"
                    },
                    {
                        "$ref": "#/components/parameters/count"
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Order items by property values",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "orderby"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "$ref": "#/components/responses/microsoft.graph.onenotePageCollectionResponse"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "@odata.nextLink",
                    "operationName": "listMore"
                },
                "x-ms-docs-operation-type": "operation"
            },
            "post": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Create notebooks section groups sections pages",
                "operationId": "createNbGroupSectionPage",
                "requestBody": {
                    "description": "The OneNote page to create",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OnenotePage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The created OneNote page",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnenotePage"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                },
                {
                    "name": "onenoteSectionId",
                    "in": "path",
                    "description": "The unique identifier of onenoteSection",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenoteSection"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages",
                "/me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages",
                "/me/onenote/sections/{onenoteSection-id}/pages"
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sections/{onenoteSectionId}/pages/{onenotePageId}": {
            "description": "Provides operations to manage the pages property of the microsoft.graph.onenoteSection entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get pages from me",
                "description": "The collection of pages in the section.  Read-only. Nullable.",
                "operationId": "getNbGroupSectionPage",
                "parameters": [
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select properties to be returned",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "select"
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand related entities",
                        "required": false,
                        "style": "form",
                        "explode": false,
                        "schema": {
                            "uniqueItems": true,
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "x-ballerina-name": "expand"
                    }
                ],
                "responses": {
                    "2XX": {
                        "description": "The OneNote page",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnenotePage"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "delete": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Delete notebooks section groups sections pages",
                "operationId": "deleteNbGroupSectionPage",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        },
                        "x-ballerina-name": "ifMatch"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "patch": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Update notebooks section groups sections pages",
                "operationId": "updateNbGroupSectionPage",
                "requestBody": {
                    "description": "Properties to update on the OneNote page",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OnenotePage"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The OneNote page",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnenotePage"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "operation"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                },
                {
                    "name": "onenoteSectionId",
                    "in": "path",
                    "description": "The unique identifier of onenoteSection",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenoteSection"
                },
                {
                    "name": "onenotePageId",
                    "in": "path",
                    "description": "The unique identifier of onenotePage",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenotePage"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}",
                "/me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}",
                "/me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}"
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sections/{onenoteSectionId}/pages/{onenotePageId}/content": {
            "description": "Provides operations to manage the media for the user entity.",
            "get": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Get section groups sections pages content",
                "description": "The page's HTML content.",
                "operationId": "getNbGroupSectionPageContent",
                "responses": {
                    "2XX": {
                        "description": "Retrieved media content",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "put": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Replace section groups sections pages content",
                "description": "The page's HTML content.",
                "operationId": "updateNbGroupSectionPageContent",
                "requestBody": {
                    "description": "New media content",
                    "content": {
                        "application/octet-stream": {
                            "schema": {
                                "type": "string",
                                "format": "binary"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The OneNote page",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnenotePage"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "delete": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Delete section groups sections pages content",
                "description": "The page's HTML content.",
                "operationId": "deleteNbGroupSectionPageContent",
                "parameters": [
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "ETag",
                        "required": false,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                }
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                },
                {
                    "name": "onenoteSectionId",
                    "in": "path",
                    "description": "The unique identifier of onenoteSection",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenoteSection"
                },
                {
                    "name": "onenotePageId",
                    "in": "path",
                    "description": "The unique identifier of onenotePage",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenotePage"
                }
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sections/{onenoteSectionId}/pages/{onenotePageId}/copyToSection": {
            "description": "Provides operations to call the copyToSection method.",
            "post": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Invoke action copyToSection",
                "description": "Copy a page to a specific section. For copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then poll the operation endpoint for the result.",
                "externalDocs": {
                    "description": "Find more info here",
                    "url": "https://learn.microsoft.com/graph/api/page-copytosection?view=graph-rest-1.0"
                },
                "operationId": "copyNbGroupSectionPageToSection",
                "requestBody": {
                    "description": "Action parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CopyPageToSectionRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "2XX": {
                        "description": "The status of the long-running OneNote operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OnenoteOperation"
                                }
                            }
                        }
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                },
                {
                    "name": "onenoteSectionId",
                    "in": "path",
                    "description": "The unique identifier of onenoteSection",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenoteSection"
                },
                {
                    "name": "onenotePageId",
                    "in": "path",
                    "description": "The unique identifier of onenotePage",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenotePage"
                }
            ],
            "x-ms-docs-grouped-path": [
                "/me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/copyToSection",
                "/me/onenote/pages/{onenotePage-id}/copyToSection",
                "/me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/copyToSection",
                "/me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/copyToSection"
            ]
        },
        "/me/onenote/notebooks/{notebookId}/sectionGroups/{sectionGroupId}/sections/{onenoteSectionId}/pages/{onenotePageId}/onenotePatchContent": {
            "description": "Provides operations to call the onenotePatchContent method.",
            "post": {
                "tags": [
                    "me.onenote"
                ],
                "summary": "Invoke action onenotePatchContent",
                "operationId": "patchNbGroupSectionPageContent",
                "requestBody": {
                    "description": "Action parameters",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PatchPageContentRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "4XX": {
                        "$ref": "#/components/responses/error"
                    },
                    "5XX": {
                        "$ref": "#/components/responses/error"
                    }
                },
                "x-ms-docs-operation-type": "action"
            },
            "parameters": [
                {
                    "name": "notebookId",
                    "in": "path",
                    "description": "The unique identifier of notebook",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "notebook"
                },
                {
                    "name": "sectionGroupId",
                    "in": "path",
                    "description": "The unique identifier of sectionGroup",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "sectionGroup"
                },
                {
                    "name": "onenoteSectionId",
                    "in": "path",
                    "description": "The unique identifier of onenoteSection",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenoteSection"
                },
                {
                    "name": "onenotePageId",
                    "in": "path",
                    "description": "The unique identifier of onenotePage",
                    "required": true,
                    "style": "simple",
                    "explode": false,
                    "schema": {
                        "type": "string"
                    },
                    "x-ms-docs-key-type": "onenotePage"
                }
            ],
            "x-ms-docs-grouped-path": [
[...]
