openapi: 3.0.4
info:
  title: Microsoft OneNote API
  description: Microsoft OneNote API. Subset of the Microsoft Graph v1.0 OpenAPI specification covering notebooks, section
    groups, sections, pages, page content, resources and long-running copy operations for the signed-in user and for users
    by ID.
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 0.0.0.0
servers:
- url: https://graph.microsoft.com/v1.0
security:
- oAuth2:
  - Notes.Create
  - Notes.Read
  - Notes.ReadWrite
  - Notes.Read.All
  - Notes.ReadWrite.All
  - offline_access
tags:
- name: me.onenote
  x-ms-docs-toc-type: page
- name: users.onenote
  x-ms-docs-toc-type: page
paths:
  /me/onenote:
    description: Provides operations to manage the onenote property of the microsoft.graph.user entity.
    get:
      tags:
      - me.onenote
      summary: Get onenote from me
      operationId: me.GetOnenote
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote root resource of the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenote'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.onenote
      summary: Update me onenote
      operationId: me.UpdateOnenote
      requestBody:
        description: Properties to update on the OneNote root resource of the user
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenote'
        required: true
      responses:
        2XX:
          description: The OneNote root resource of the user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenote'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.onenote
      summary: Delete me onenote
      operationId: me.DeleteOnenote
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/onenote/notebooks:
    description: Provides operations to manage the notebooks property of the microsoft.graph.onenote entity.
    get:
      tags:
      - me.onenote
      summary: List notebooks
      description: Retrieve a list of notebook objects.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onenote-list-notebooks?view=graph-rest-1.0
      operationId: me.onenote.ListNotebooks
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.notebookCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.onenote
      summary: Create notebook
      description: Create a new OneNote notebook.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/onenote-post-notebooks?view=graph-rest-1.0
      operationId: me.onenote.CreateNotebooks
      requestBody:
        description: The OneNote notebook to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        2XX:
          description: The created OneNote notebook.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/onenote/notebooks/{notebook-id}:
    description: Provides operations to manage the notebooks property of the microsoft.graph.onenote entity.
    get:
      tags:
      - me.onenote
      summary: Get notebook
      description: Retrieve the properties and relationships of a notebook object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/notebook-get?view=graph-rest-1.0
      operationId: me.onenote.GetNotebooks
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote notebook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.onenote
      summary: Update me onenote notebooks
      operationId: me.onenote.UpdateNotebooks
      requestBody:
        description: Properties to update on the OneNote notebook
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        2XX:
          description: The OneNote notebook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.onenote
      summary: Delete me onenote notebooks
      operationId: me.onenote.DeleteNotebooks
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
  /me/onenote/notebooks/{notebook-id}/copyNotebook:
    description: Provides operations to call the copyNotebook method.
    post:
      tags:
      - me.onenote
      summary: Invoke action copyNotebook
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then
        poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/notebook-copynotebook?view=graph-rest-1.0
      operationId: me.onenote.notebooks.notebook.copyNotebook
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                notebookFolder:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: The status of the long-running OneNote operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
  /me/onenote/notebooks/{notebook-id}/sectionGroups:
    description: Provides operations to manage the sectionGroups property of the microsoft.graph.notebook entity.
    get:
      tags:
      - me.onenote
      summary: List sectionGroups
      description: Retrieve a list of section groups from the specified notebook.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/notebook-list-sectiongroups?view=graph-rest-1.0
      operationId: me.onenote.notebooks.ListSectionGroups
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.sectionGroupCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.onenote
      summary: Create sectionGroup
      description: Create a new section group in the specified notebook.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/notebook-post-sectiongroups?view=graph-rest-1.0
      operationId: me.onenote.notebooks.CreateSectionGroups
      requestBody:
        description: The OneNote section group to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        2XX:
          description: The created OneNote section group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}:
    description: Provides operations to manage the sectionGroups property of the microsoft.graph.notebook entity.
    get:
      tags:
      - me.onenote
      summary: Get sectionGroups from me
      description: The section groups in the notebook. Read-only. Nullable.
      operationId: me.onenote.notebooks.GetSectionGroups
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote section group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.onenote
      summary: Update me onenote notebooks section groups
      operationId: me.onenote.notebooks.UpdateSectionGroups
      requestBody:
        description: Properties to update on the OneNote section group
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        2XX:
          description: The OneNote section group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.onenote
      summary: Delete me onenote notebooks section groups
      operationId: me.onenote.notebooks.DeleteSectionGroups
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentNotebook:
    description: Provides operations to manage the parentNotebook property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - me.onenote
      summary: Get parentNotebook from me
      description: The notebook that contains the section group. Read-only.
      operationId: me.onenote.notebooks.sectionGroups.GetParentNotebook
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote notebook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    x-ms-docs-grouped-path:
    - /me/onenote/sectionGroups/{sectionGroup-id}/parentNotebook
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentSectionGroup:
    description: Provides operations to manage the parentSectionGroup property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - me.onenote
      summary: Get parentSectionGroup from me
      description: The section group that contains the section group. Read-only.
      operationId: me.onenote.notebooks.sectionGroups.GetParentSectionGroup
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote section group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    x-ms-docs-grouped-path:
    - /me/onenote/sectionGroups/{sectionGroup-id}/parentSectionGroup
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups:
    description: Provides operations to manage the sectionGroups property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - me.onenote
      summary: Get sectionGroups from me
      description: The section groups in the section. Read-only. Nullable.
      operationId: me.onenote.notebooks.sectionGroups.ListSectionGroups
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.sectionGroupCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    x-ms-docs-grouped-path:
    - /me/onenote/sectionGroups/{sectionGroup-id}/sectionGroups
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups/{sectionGroup-id1}:
    description: Provides operations to manage the sectionGroups property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - me.onenote
      summary: Get sectionGroups from me
      description: The section groups in the section. Read-only. Nullable.
      operationId: me.onenote.notebooks.sectionGroups.GetSectionGroups
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote section group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: sectionGroup-id1
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    x-ms-docs-grouped-path:
    - /me/onenote/sectionGroups/{sectionGroup-id}/sectionGroups/{sectionGroup-id1}
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.onenote
      summary: Get the number of the resource
      operationId: me.onenote.notebooks.sectionGroups.sectionGroups.GetCount-ab55
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections:
    description: Provides operations to manage the sections property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - me.onenote
      summary: Get sections from me
      description: The sections in the section group. Read-only. Nullable.
      operationId: me.onenote.notebooks.sectionGroups.ListSections
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.onenoteSectionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.onenote
      summary: Create onenote notebooks section groups sections
      operationId: me.onenote.notebooks.sectionGroups.CreateSections
      requestBody:
        description: The OneNote section to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        2XX:
          description: The created OneNote section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    x-ms-docs-grouped-path:
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}:
    description: Provides operations to manage the sections property of the microsoft.graph.sectionGroup entity.
    get:
      tags:
      - me.onenote
      summary: Get sections from me
      description: The sections in the section group. Read-only. Nullable.
      operationId: me.onenote.notebooks.sectionGroups.GetSections
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote section
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.onenote
      summary: Update onenote notebooks section groups sections
      operationId: me.onenote.notebooks.sectionGroups.UpdateSections
      requestBody:
        description: Properties to update on the OneNote section
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        2XX:
          description: The OneNote section
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.onenote
      summary: Delete onenote notebooks section groups sections
      operationId: me.onenote.notebooks.sectionGroups.DeleteSections
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    x-ms-docs-grouped-path:
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/copyToNotebook:
    description: Provides operations to call the copyToNotebook method.
    post:
      tags:
      - me.onenote
      summary: Invoke action copyToNotebook
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then
        poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/section-copytonotebook?view=graph-rest-1.0
      operationId: me.onenote.notebooks.notebook.sectionGroups.sectionGroup.sections.onenoteSection.copyToNotebook
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: The status of the long-running OneNote operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/copyToNotebook
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/copyToNotebook
    - /me/onenote/sections/{onenoteSection-id}/copyToNotebook
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/copyToSectionGroup:
    description: Provides operations to call the copyToSectionGroup method.
    post:
      tags:
      - me.onenote
      summary: Invoke action copyToSectionGroup
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then
        poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/section-copytosectiongroup?view=graph-rest-1.0
      operationId: me.onenote.notebooks.notebook.sectionGroups.sectionGroup.sections.onenoteSection.copyToSectionGroup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: The status of the long-running OneNote operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/copyToSectionGroup
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/copyToSectionGroup
    - /me/onenote/sections/{onenoteSection-id}/copyToSectionGroup
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages:
    description: Provides operations to manage the pages property of the microsoft.graph.onenoteSection entity.
    get:
      tags:
      - me.onenote
      summary: Get pages from me
      description: The collection of pages in the section.  Read-only. Nullable.
      operationId: me.onenote.notebooks.sectionGroups.sections.ListPages
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.onenotePageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.onenote
      summary: Create notebooks section groups sections pages
      operationId: me.onenote.notebooks.sectionGroups.sections.CreatePages
      requestBody:
        description: The OneNote page to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        2XX:
          description: The created OneNote page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages
    - /me/onenote/sections/{onenoteSection-id}/pages
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}:
    description: Provides operations to manage the pages property of the microsoft.graph.onenoteSection entity.
    get:
      tags:
      - me.onenote
      summary: Get pages from me
      description: The collection of pages in the section.  Read-only. Nullable.
      operationId: me.onenote.notebooks.sectionGroups.sections.GetPages
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.onenote
      summary: Update notebooks section groups sections pages
      operationId: me.onenote.notebooks.sectionGroups.sections.UpdatePages
      requestBody:
        description: Properties to update on the OneNote page
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        2XX:
          description: The OneNote page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.onenote
      summary: Delete notebooks section groups sections pages
      operationId: me.onenote.notebooks.sectionGroups.sections.DeletePages
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/content:
    description: Provides operations to manage the media for the user entity.
    get:
      tags:
      - me.onenote
      summary: Get section groups sections pages content
      description: The page's HTML content.
      operationId: me.onenote.notebooks.sectionGroups.sections.GetPagesContent
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
      - me.onenote
      summary: Replace section groups sections pages content
      description: The page's HTML content.
      operationId: me.onenote.notebooks.sectionGroups.sections.UpdatePagesContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: The OneNote page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - me.onenote
      summary: Delete section groups sections pages content
      description: The page's HTML content.
      operationId: me.onenote.notebooks.sectionGroups.sections.DeletePagesContent
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
  ? /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/copyToSection
  : description: Provides operations to call the copyToSection method.
    post:
      tags:
      - me.onenote
      summary: Invoke action copyToSection
      description: 'Copy a page to a specific section. For copy operations, you follow an asynchronous calling pattern:  First
        call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/page-copytosection?view=graph-rest-1.0
      operationId: me.onenote.notebooks.notebook.sectionGroups.sectionGroup.sections.onenoteSection.pages.onenotePage.copyToSection
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: The status of the long-running OneNote operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/copyToSection
    - /me/onenote/pages/{onenotePage-id}/copyToSection
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/copyToSection
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/copyToSection
  ? /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/onenotePatchContent
  : description: Provides operations to call the onenotePatchContent method.
    post:
      tags:
      - me.onenote
      summary: Invoke action onenotePatchContent
      operationId: me.onenote.notebooks.notebook.sectionGroups.sectionGroup.sections.onenoteSection.pages.onenotePage.onenotePatchContent
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                commands:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.onenotePatchContentCommand'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/onenotePatchContent
    - /me/onenote/pages/{onenotePage-id}/onenotePatchContent
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/onenotePatchContent
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/onenotePatchContent
  ? /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/preview()
  : description: Provides operations to call the preview method.
    get:
      tags:
      - me.onenote
      summary: Invoke function preview
      operationId: me.onenote.notebooks.notebook.sectionGroups.sectionGroup.sections.onenoteSection.pages.onenotePage.preview
      responses:
        2XX:
          description: The text preview of the OneNote page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePagePreview'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/preview()
    - /me/onenote/pages/{onenotePage-id}/preview()
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/preview()
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/preview()
  ? /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook
  : description: Provides operations to manage the parentNotebook property of the microsoft.graph.onenotePage entity.
    get:
      tags:
      - me.onenote
      summary: Get parentNotebook from me
      description: The notebook that contains the page.  Read-only.
      operationId: me.onenote.notebooks.sectionGroups.sections.pages.GetParentNotebook
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote notebook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook
    - /me/onenote/pages/{onenotePage-id}/parentNotebook
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook
  ? /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection
  : description: Provides operations to manage the parentSection property of the microsoft.graph.onenotePage entity.
    get:
      tags:
      - me.onenote
      summary: Get parentSection from me
      description: The section that contains the page. Read-only.
      operationId: me.onenote.notebooks.sectionGroups.sections.pages.GetParentSection
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote section
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection
    - /me/onenote/pages/{onenotePage-id}/parentSection
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.onenote
      summary: Get the number of the resource
      operationId: me.onenote.notebooks.sectionGroups.sections.pages.GetCount-85ea
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentNotebook:
    description: Provides operations to manage the parentNotebook property of the microsoft.graph.onenoteSection entity.
    get:
      tags:
      - me.onenote
      summary: Get parentNotebook from me
      description: The notebook that contains the section.  Read-only.
      operationId: me.onenote.notebooks.sectionGroups.sections.GetParentNotebook
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote notebook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/parentNotebook
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentNotebook
    - /me/onenote/sections/{onenoteSection-id}/parentNotebook
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentSectionGroup:
    description: Provides operations to manage the parentSectionGroup property of the microsoft.graph.onenoteSection entity.
    get:
      tags:
      - me.onenote
      summary: Get parentSectionGroup from me
      description: The section group that contains the section.  Read-only.
      operationId: me.onenote.notebooks.sectionGroups.sections.GetParentSectionGroup
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote section group
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/parentSectionGroup
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentSectionGroup
    - /me/onenote/sections/{onenoteSection-id}/parentSectionGroup
  /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.onenote
      summary: Get the number of the resource
      operationId: me.onenote.notebooks.sectionGroups.sections.GetCount-505d
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: sectionGroup-id
      in: path
      description: The unique identifier of sectionGroup
      required: true
      schema:
        type: string
      x-ms-docs-key-type: sectionGroup
  /me/onenote/notebooks/{notebook-id}/sectionGroups/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.onenote
      summary: Get the number of the resource
      operationId: me.onenote.notebooks.sectionGroups.GetCount-ab55
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
  /me/onenote/notebooks/{notebook-id}/sections:
    description: Provides operations to manage the sections property of the microsoft.graph.notebook entity.
    get:
      tags:
      - me.onenote
      summary: List sections
      description: Retrieve a list of onenoteSection objects from the specified notebook.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/notebook-list-sections?view=graph-rest-1.0
      operationId: me.onenote.notebooks.ListSections
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.onenoteSectionCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.onenote
      summary: Create section
      description: Create a new onenoteSection in the specified notebook.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/notebook-post-sections?view=graph-rest-1.0
      operationId: me.onenote.notebooks.CreateSections
      requestBody:
        description: The OneNote section to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        2XX:
          description: The created OneNote section.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}:
    description: Provides operations to manage the sections property of the microsoft.graph.notebook entity.
    get:
      tags:
      - me.onenote
      summary: Get sections from me
      description: The sections in the notebook. Read-only. Nullable.
      operationId: me.onenote.notebooks.GetSections
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote section
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.onenote
      summary: Update me onenote notebooks sections
      operationId: me.onenote.notebooks.UpdateSections
      requestBody:
        description: Properties to update on the OneNote section
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        2XX:
          description: The OneNote section
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.onenote
      summary: Delete me onenote notebooks sections
      operationId: me.onenote.notebooks.DeleteSections
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/copyToNotebook:
    description: Provides operations to call the copyToNotebook method.
    post:
      tags:
      - me.onenote
      summary: Invoke action copyToNotebook
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then
        poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/section-copytonotebook?view=graph-rest-1.0
      operationId: me.onenote.notebooks.notebook.sections.onenoteSection.copyToNotebook
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: The status of the long-running OneNote operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/copyToNotebook
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/copyToNotebook
    - /me/onenote/sections/{onenoteSection-id}/copyToNotebook
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/copyToSectionGroup:
    description: Provides operations to call the copyToSectionGroup method.
    post:
      tags:
      - me.onenote
      summary: Invoke action copyToSectionGroup
      description: 'For Copy operations, you follow an asynchronous calling pattern:  First call the Copy action, and then
        poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/section-copytosectiongroup?view=graph-rest-1.0
      operationId: me.onenote.notebooks.notebook.sections.onenoteSection.copyToSectionGroup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                renameAs:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: The status of the long-running OneNote operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/copyToSectionGroup
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/copyToSectionGroup
    - /me/onenote/sections/{onenoteSection-id}/copyToSectionGroup
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages:
    description: Provides operations to manage the pages property of the microsoft.graph.onenoteSection entity.
    get:
      tags:
      - me.onenote
      summary: Get pages from me
      description: The collection of pages in the section.  Read-only. Nullable.
      operationId: me.onenote.notebooks.sections.ListPages
      parameters:
      - $ref: '#/components/parameters/top'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      - $ref: '#/components/parameters/count'
      - name: $orderby
        in: query
        description: Order items by property values
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.onenotePageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
      - me.onenote
      summary: Create onenote notebooks sections pages
      operationId: me.onenote.notebooks.sections.CreatePages
      requestBody:
        description: The OneNote page to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        2XX:
          description: The created OneNote page.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages
    - /me/onenote/sections/{onenoteSection-id}/pages
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}:
    description: Provides operations to manage the pages property of the microsoft.graph.onenoteSection entity.
    get:
      tags:
      - me.onenote
      summary: Get pages from me
      description: The collection of pages in the section.  Read-only. Nullable.
      operationId: me.onenote.notebooks.sections.GetPages
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
      - me.onenote
      summary: Update onenote notebooks sections pages
      operationId: me.onenote.notebooks.sections.UpdatePages
      requestBody:
        description: Properties to update on the OneNote page
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        2XX:
          description: The OneNote page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
      - me.onenote
      summary: Delete onenote notebooks sections pages
      operationId: me.onenote.notebooks.sections.DeletePages
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/content:
    description: Provides operations to manage the media for the user entity.
    get:
      tags:
      - me.onenote
      summary: Get notebooks sections pages content
      description: The page's HTML content.
      operationId: me.onenote.notebooks.sections.GetPagesContent
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
      - me.onenote
      summary: Replace notebooks sections pages content
      description: The page's HTML content.
      operationId: me.onenote.notebooks.sections.UpdatePagesContent
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: The OneNote page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    delete:
      tags:
      - me.onenote
      summary: Delete notebooks sections pages content
      description: The page's HTML content.
      operationId: me.onenote.notebooks.sections.DeletePagesContent
      parameters:
      - name: If-Match
        in: header
        description: ETag
        schema:
          type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/copyToSection:
    description: Provides operations to call the copyToSection method.
    post:
      tags:
      - me.onenote
      summary: Invoke action copyToSection
      description: 'Copy a page to a specific section. For copy operations, you follow an asynchronous calling pattern:  First
        call the Copy action, and then poll the operation endpoint for the result.'
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/page-copytosection?view=graph-rest-1.0
      operationId: me.onenote.notebooks.notebook.sections.onenoteSection.pages.onenotePage.copyToSection
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  nullable: true
                groupId:
                  type: string
                  nullable: true
                siteCollectionId:
                  type: string
                  nullable: true
                siteId:
                  type: string
                  nullable: true
        required: true
      responses:
        2XX:
          description: The status of the long-running OneNote operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteOperation'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/copyToSection
    - /me/onenote/pages/{onenotePage-id}/copyToSection
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/copyToSection
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/copyToSection
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/onenotePatchContent:
    description: Provides operations to call the onenotePatchContent method.
    post:
      tags:
      - me.onenote
      summary: Invoke action onenotePatchContent
      operationId: me.onenote.notebooks.notebook.sections.onenoteSection.pages.onenotePage.onenotePatchContent
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                commands:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.onenotePatchContentCommand'
        required: true
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/onenotePatchContent
    - /me/onenote/pages/{onenotePage-id}/onenotePatchContent
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/onenotePatchContent
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/onenotePatchContent
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/preview():
    description: Provides operations to call the preview method.
    get:
      tags:
      - me.onenote
      summary: Invoke function preview
      operationId: me.onenote.notebooks.notebook.sections.onenoteSection.pages.onenotePage.preview
      responses:
        2XX:
          description: The text preview of the OneNote page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePagePreview'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/preview()
    - /me/onenote/pages/{onenotePage-id}/preview()
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/preview()
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/preview()
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook:
    description: Provides operations to manage the parentNotebook property of the microsoft.graph.onenotePage entity.
    get:
      tags:
      - me.onenote
      summary: Get parentNotebook from me
      description: The notebook that contains the page.  Read-only.
      operationId: me.onenote.notebooks.sections.pages.GetParentNotebook
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote notebook
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook
    - /me/onenote/pages/{onenotePage-id}/parentNotebook
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection:
    description: Provides operations to manage the parentSection property of the microsoft.graph.onenotePage entity.
    get:
      tags:
      - me.onenote
      summary: Get parentSection from me
      description: The section that contains the page. Read-only.
      operationId: me.onenote.notebooks.sections.pages.GetParentSection
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: $expand
        in: query
        description: Expand related entities
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        2XX:
          description: The OneNote section
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
    - name: onenotePage-id
      in: path
      description: The unique identifier of onenotePage
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenotePage
    x-ms-docs-grouped-path:
    - /me/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection
    - /me/onenote/pages/{onenotePage-id}/parentSection
    - /me/onenote/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection
    - /me/onenote/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/pages/$count:
    description: Provides operations to count the resources in the collection.
    get:
      tags:
      - me.onenote
      summary: Get the number of the resource
      operationId: me.onenote.notebooks.sections.pages.GetCount-044d
      parameters:
      - $ref: '#/components/parameters/search'
      - $ref: '#/components/parameters/filter'
      responses:
        2XX:
          $ref: '#/components/responses/ODataCountResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    parameters:
    - name: notebook-id
      in: path
      description: The unique identifier of notebook
      required: true
      schema:
        type: string
      x-ms-docs-key-type: notebook
    - name: onenoteSection-id
      in: path
      description: The unique identifier of onenoteSection
      required: true
      schema:
        type: string
      x-ms-docs-key-type: onenoteSection
  /me/onenote/notebooks/{notebook-id}/sections/{onenoteSection-id}/parentNotebook:
    description: Provides operations to manage the parentNotebook property of the microsoft.graph.onenoteSection entity.
    get:
      tags:
      - me.onenote
      summary: Get parentNotebook from me
      description: The notebook that contains the section.  Read-only.
      operationId: me.onenote.notebooks.sections.GetParentNotebook
      parameters:
      - name: $select
        in: query
        description: Select properties to be returned
        style: form
        explode: false
        schema:
          uniqueItems: true
          type: array
[...]
